@model ProyectoIglesiaDesarrollo.Models.Miembros

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Estas Seguro (a) de Eliminar este Miembro?</h3>
<div>
    <h4>Miembros</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombres)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rol)
        </dd>

        

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="MiembroId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
